fastapi
uvicorn[standard]
pymavlink
requests
python-multipart
langchain
langchain-community
langchain-ollama
chromadb
sentence-transformers
numpy
pandas
matplotlib
seaborn
plotly
python-docx
PyPDF2
tiktoken 